<h1 style="text-transform: uppercase;" class="text-secondary">{{data}}</h1>
<div class="w-50 text-center ms-5">
    <h1 class="text-center mt-5 p-5 text-center ms-5" style="color: rgb(41 , 91 , 93)">Sign In</h1>
<form action="" style="background-color: rgba(65,97,126,0.385); border-radius: 20px;"
    class="mt-2 p-3  comtainer text-center border">
    <div class="p-2 mt-2">
        <input #uname [placeholder]=" placeHolderData" formControlName="acno" id="ul" name="uname" style="border: none;" class="form-control" type="text">
    </div>

    <div class="p-2 mt-2">
        <input #psw placeholder="enter password" formControlName="psw" id="p1" name="password" class="form-control mt-2" type="password">
    </div>

    <button (click)="login(uname,psw)" type="submit"  class="btn btn-info mt-4 p-2">login</button>

    <p class="mt-2" style="color: rgb(250,250,250);">
        dont have account?
        <a style="text-decoration: none; color: white;" routerLink="register">
            <strong>create account</strong></a>
    </p>
</form>
</div>





