/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/153a4535df6cf2d2b106a558b750c486.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
}